@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
:root {
    --copper: hsla(37, 84%, 38%, 1);
    --orange-yellow-crayola: hsla(39, 100%, 74%, 1);
    --honey-yellow: hsla(40, 98%, 60%, 1);
    --charcoal: hsla(207, 38%, 25%, 1);
    --blue-sapphire: hsla(196, 67%, 33%, 1);
    --spanish-blue: hsla(210, 63%, 43%, 1);
    --bleu-de-france: hsla(210, 97%, 54%, 1);
    --cerulean-crayola: hsla(195, 100%, 44%, 1);
    --dark-grey: rgb(69, 69, 69);
    --davys-grey: hsla(12, 5%, 36%, 1);
    --light-gray: hsla(300, 4%, 81%, 1);
    --white: hsla(225, 100%, 99%, 1);

}
.sidebar {
    background-color: var(--cerulean-crayola);
}
.sidebar button {
    background: none;
    border: none;
}

@media only screen and (max-width: 414px){
    body{
        display: flex;
        justify-content: center;
    }
    /* main container */
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 97vw;
        height: 97vh;
        margin: 10px;
        border-radius: 20px;
        background-color: var(--orange-yellow-crayola);
    }
    /* header */
    .header {
        display: none;
    }
    /* dashboard */
    .dashboard {
        flex: 1 0 auto;
        order: 1;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .project-container {
        padding: 20px;
        margin-top: 20px;
    }
    .project-container > .project{
        padding: 25px;
        margin: 10px;
        background-color: var(--white);
        border-radius: 50px;
        font-family: Montserrat;
        font-weight: bold;
        color: var(--dark-grey);
    }
    .project-container h1 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 30px;
    }
    /* dashboard > tabs */
    .dashboard > .tabs {
        flex: 1 0 auto;
        display: inline;
        align-items: start;
        background-color: var(--white);
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
    }
    .tabs button {
        font-family: Roboto;
        font-size: 1em;
        background-color: var(--white);
        border: none;
        transition: font-size 0.1s ease-in-out
    }
    .tabs .tab {
        display: none;
        margin-top: 20px;
        padding: 20px;
        font-family: Montserrat;
    }
    .tabs .tab.announcements {
        display: block;
    }
    .tabs .selected {
        font-weight: bold;
        font-size:larger;
    }
    /* sidebar */
    .sidebar {
        order: 2;
        width: 100%;

        border-radius: 15px;

        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .sidebar label {
        display: none;
    }
    .sidebar button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 60px;
        padding: 10px 10px 20px 10px;
        background-color: none;
        border-top: 2px solid transparent;
        border-radius: 4px;
        transition: background-color 0.05s ease-in-out;
        -webkit-transition: background-color 0.05s ease-in-out;
    }
    .sidebar button:active {
        background-color: rgba(255,255,255,0.5);

    }
    .sidebar .border {
        user-select: none;
        -webkit-user-select: none;
        height: 10px;
        width: 10px;
        transition: width 0.1s ease-in-out;
        -webkit-transition: width 0.1s ease-in-out;
    }
    .sidebar button:active .border {
        width: 30px;
    }
    .sidebar .selected .border {
        border-top: 2px solid var(--orange-yellow-crayola);
    }
    .sidebar button svg {
        user-select: none;
        -webkit-user-select: none;
        fill: none;
        stroke: var(--dark-grey);
    }
    .sidebar button:active svg {
        fill: var(--white);
        stroke: var(--white);
    }
    .sidebar .selected svg {
        user-select: none;
        -webkit-user-select: none;
        fill: var(--spanish-blue);
    }
}


@media only screen and (min-width: 415px){
    .main-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 200px 1fr;
        overflow: hidden;
    }
    .sidebar {
        height: 100%;
        width: 300px;
        grid-row: 1 / -1;
        display: grid;
        grid-template-columns: min-content auto;
        grid-auto-rows: min-content;
        column-gap: 0px;
        row-gap: 10px;
    }
    .sidebar label {
        display: flex;
        align-items: flex-end;
        padding-bottom: 7px;

        font-family: Roboto;
        font-weight: bold;
        font-size: 1.4em;
        color: var(--white)
    }
    .sidebar button svg {
        height:  30px;
        width: 30px;
        fill: var(--white);
        stroke: var(--davys-grey)
    }
    .sidebar-logo {
        display: flex;
        align-items: center;
        margin: 12px;
        margin-bottom: 40px;
        grid-column: 1 / -1;
        font-family: Roboto;
        font-weight: bold;
        font-size: 2.5em;
        color: var(--charcoal);
    }
    .sidebar-logo svg {
        height: 60px;
        width: 60px;
        fill: var(--orange-yellow-crayola);
    }

    .header {
        background-color: var(--white);
        height: 100%;
        width: 100%;
        position: relative;
        grid-row: 1 / 2;
    }
    .dashboard {
        background-color: var(--light-gray);
    }
}